<table class="table table-hover">
  <thead>
    <tr>
      <th>Context</th>
      <th>Id</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |r| %>
      <tr>
        <td> <%= r["@context"] %> </td>
        <td> <%= r["@id"] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
